$ff-regular: "Poppins Regular";
$ff-regularItalic: "Poppins Italic";

$ff-bold: "Poppins Bold";
$ff-boldItalic: "Poppins Bold Italic";

$ff-extraBold: "Poppins Extrabold";
$ff-extraBoldItalic: "Poppins Extrabold Italic";