//--------------------------------------------------- Typography
$ff-main: "League Spartan", sans-serif;

$fw-medium: 500;
$fw-bold: 700;

//--------------------------------------------------- Color library
$color-primary-desaturatedDarkCyan: hsl(180, 29%, 50%);

$color-neutral-lightGrayishCyan-1: hsl(180, 52%, 96%);
$color-neutral-lightGrayishCyan-2: hsl(180, 31%, 95%);
$color-neutral-darkGrayishCyan: hsl(180, 8%, 52%);
$color-neutral-veryDarkGrayishCyan: hsl(180, 14%, 20%);
