@font-face {
    font-family: 'Barlow Semi Condensed Medium';
    src: url(../fonts/BarlowSemiCondensed-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Barlow Semi Condensed Semibold';
    src: url(../fonts/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
    font-weight: 600;
}