@import "./normalize";
@import "./fonts";
@import "./typography";
@import "./color";
@import "./responsive";


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $veryDarkBlue;
    line-height: 1.5;
}


@import "./index";
@import "./thank";